body{
    background: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{ padding-left: 10px;}
.postcard-header img{
    height: 80px;
    float: right;
}


.left-part{
    float: left;
    width: 50%;
}
.right-part{
    float: right;
    width: 50%;

}
input{
    font-size: 18px;
    float: right;
}
h1{font-family: 'Sansita Swashed', cursive;}
button{ background-color: #6e6e6e;
text-align: center;}

.postcard-header{
    overflow: hidden;
}
.postcard-body{overflow: hidden;} 
.postcard{
    padding: 15px;
    background: white;
    width: 800px;
    margin: auto;
    overflow: hidden;
}
.footer{
    text-align: center;
    padding: 10px
}
input[type=text]{
    border: none;
    border-bottom: 1px solid gray;
    
}
.postcard{
    width: 500px;

}